/* 选择器 */
div + p {
  /* 选择div后面的第一个同辈P元素 */
}
div p{
   /* 选择div里面的所有的P元素 所有层级*/
}
div > p{
   /* 选择父元素是div的P元素 */
}



/* 文字不换行 */
{
	white-space: nowrap
}


/* flex布局 */
.box{
	display: -webkit-flex;
	display: flex;
	flex-direction:row;  /* row横向 column纵向 */
	flex-wrap: nowrap;   /* wrap 排不下换行 | wrap-reverse 换行，第一行在下方。*/
	flex-flow:<flex-direction> || <flex-wrap>; /* flex-direction属性和flex-wrap属性的简写形式 */
	align-items: center  /* 左右居中对齐  flex-start | flex-end | center | baseline | stretch;*/
	justify-content:center; /* 上下居中对齐  flex-start | flex-end | center | baseline | stretch;*/
}

.a{
	flex-grow:0;    /* default 0 如果存在剩余空间，也不放大。*/
	flex-shrink: 1; /* default 1 如果空间不足，该项目将缩小。*/
	flex-basis:auto;
	flex:auto;  /* auto (1 1 auto) none (0 0 auto) 最好写完整*/
}

/* a固定宽度,b自适应宽度*/
.a{
	flex:0 0 100px;
  width:100px;     /* 兼容安卓手机 */
}

.b{
	flex:1 1 auto;
}

/* sticky footer 布局 */
/* 当内容不够长的时候，内容被顶下去 */


/* 宽高相等 */
{
  width:100%;
  height:0;
  padding-top: 100%  /* 这个100%会根据width计算 */
}



/* 背景图的设置 绝对定位 z-index:-1 */
{
  position:absolute
  top:0
  left:0
  width:100%
  height:100%
  z-index:-1
  filter:blur(5px)
}


/* 自定义 单选 多选 按钮 使用背景图切换 */
<div><input type="radio" name="gender" value="1"><label>男</label></div>
/* 给外层容器添加 背景图 将input 绝对定位到 背景图上 opacity设为0 */



/* opacity  visibility display:none */
{
  display: none; /* 不占据空间，无法点击 */
  visibility: hidden; /* 占据空间，无法点击 */ 
  opacity: 0;   /* 占据空间，可以点击 */ 
}



/* 各种对齐 */

/* icon图标 和 文字 垂直居中 */
{
  vertical-align:top
}


/* span 和 span 垂直居中 */
{
  margin-top :10px;
}

/* 多行垂直居中 */
{
  display:table
}









/* css3 选择器 */

/* :empty 选择没有内容的空元素 */
p:empty {
  display: none;
}​

/* :first-child 选择父元素的第一个子元素 */
/* 第一个li设置为红色 */
ol > li:first-child{
  color: red;		
}

/* :not 可以选择除某个元素之外的所有元素 */
input:not([type="submit"]){
  border:1px solid red;
}

/* 属性选择器 */
a[class^=icon]{
  background: green;
  color:#fff;
}
a[href$=pdf]{
  background: orange;
  color: #fff;
}
a[title*=more]{
  background: blue;
  color: #fff;
}

/* :read-only :read-write  :enable :disable*/
input[type="text"]:-moz-read-only{
  border-color: #ccc;
}
input[type="text"]:read-only{
  border-color: #ccc;
}
input[type="text"]:-moz-read-write{
  border:2px solid red;
}
input[type="text"]:red-write{
  border:2px solid red;
}

input[type="text"]:enabled {
  border: 1px solid #f36;
  box-shadow: 0 0 5px #f36;
}

input[type="text"]:disabled{
  box-shadow: none;
}

/*  box-shadow  默认投影方式是outset */
box-shadow: X轴偏移量 Y轴偏移量 [阴影模糊半径] [阴影扩展半径] [阴影颜色] [投影方式];
box-shadow: 0 0 10px #0CC;     /*  四周外发光 */

/* background属性 */
background ： [color] | [image] | [background-position][/background-size] | [background-repeat] | [background-attachment] | [background-clip] | [background-origin],...