/* 文字不换行 */
{
	white-space: nowrap
}


/* flex布局 */
.box{
	display: -webkit-flex;
	display: flex;
	flex-direction:row;  /* row横向 column纵向 */
	flex-wrap: nowrap;   /* wrap 排不下换行 | wrap-reverse 换行，第一行在下方。*/
	flex-flow:<flex-direction> || <flex-wrap>; /* flex-direction属性和flex-wrap属性的简写形式 */
	align-items: center  /* 左右居中对齐  flex-start | flex-end | center | baseline | stretch;*/
	justify-content:center; /* 上下居中对齐  flex-start | flex-end | center | baseline | stretch;*/
}

.a{
	flex-grow:0;    /* default 0 如果存在剩余空间，也不放大。*/
	flex-shrink: 1; /* default 1 如果空间不足，该项目将缩小。*/
	flex-basis:auto;
	flex:auto;  /* auto (1 1 auto) none (0 0 auto) 最好写完整*/
}

/* a固定宽度,b自适应宽度*/
.a{
	flex:0 0 100px;
}

.b{
	flex:1 1 auto;
}


/* css3 选择器 */

/* :empty 选择没有内容的空元素 */
p:empty {
  display: none;
}​

/* :first-child 选择父元素的第一个子元素 */
/* 第一个li设置为红色 */
ol > li:first-child{
  color: red;		
}

/* :not 可以选择除某个元素之外的所有元素 */
input:not([type="submit"]){
  border:1px solid red;
}

/* 属性选择器 */
a[class^=icon]{
  background: green;
  color:#fff;
}
a[href$=pdf]{
  background: orange;
  color: #fff;
}
a[title*=more]{
  background: blue;
  color: #fff;
}

/* :read-only :read-write  :enable :disable*/
input[type="text"]:-moz-read-only{
  border-color: #ccc;
}
input[type="text"]:read-only{
  border-color: #ccc;
}
input[type="text"]:-moz-read-write{
  border:2px solid red;
}
input[type="text"]:red-write{
  border:2px solid red;
}

input[type="text"]:enabled {
  border: 1px solid #f36;
  box-shadow: 0 0 5px #f36;
}

input[type="text"]:disabled{
  box-shadow: none;
}

/*  box-shadow */
box-shadow: X轴偏移量 Y轴偏移量 [阴影模糊半径] [阴影扩展半径] [阴影颜色] [投影方式];

/* background属性 */
background ： [color] | [image] | [background-position][/background-size] | [background-repeat] | [background-attachment] | [background-clip] | [background-origin],...